<div class="dashboard">
     Welcome <span class="blue-text">
          {{user.name}}
     </span>
</div>

<div class="heading-2">
     Blog section
</div>

<div class="row">
     <div class="col s12 l6">
          <div class="card dashboard-card">
               <div class="heading-2 center">
                    New subscribers
               </div>
          </div>
     </div>
     <div class="col s12 l3">
          <div class="card dashboard-card">
               <div class="center">
                    <span class="dashboard-icons">
                         {{categoryLength}}
                    </span>
                   <div class="heading" style="margin-bottom: 10px;">
                         Categories uploaded
                    </div>
               </div>
               <div class="divider"></div>
               <div class="row" style="margin-bottom: 0px!important; margin-top: 20px;">
                    <div class="col s6 center">
                         <a href="/admin/create-blog" class="btn black"> New </a>
                    </div>
                    <div class="col s6 center">
                         <a href="/admin//view-blog-admin" class="btn black">
                              Manage
                         </a>
                    </div>
               </div>
          </div>
     </div>
      <div class="col s12 l3">
          <div class="card dashboard-card">
               <div class="center">
                    <span class="dashboard-icons">
                         {{blogLength}}
                    </span>
                   <div class="heading" style="margin-bottom: 10px;">
                         Blogs uploaded
                    </div>
               </div>
               <div class="divider"></div>
               <div class="row" style="margin-bottom: 0px!important; margin-top: 20px;">
                    <div class="col s6 center">
                         <a href="/admin/create-category" class="btn black"> New </a>
                    </div>
                    <div class="col s6 center">
                         <a href="/admin/view-category" class="btn black">
                              Manage
                         </a>
                    </div>
               </div>
          </div>
     </div>
</div>

<div class="divider"></div>
<div style="margin-top: 50px; text-align: center;" class="heading-2">
     Affilate marketing section
</div>